@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ececec;
}

.input:focus {
  box-shadow: 0 0 3px 4px rgba(80, 136, 255, 0.3);
}

.input.error:focus {
  box-shadow: 0 0 3px 4px rgba(255, 70, 70, 0.3);
}
