@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ececec;
}

.input:focus {
  box-shadow: 0 0 3px 4px rgba(80, 136, 255, 0.3);
}

.input.error:focus {
  box-shadow: 0 0 3px 4px rgba(255, 70, 70, 0.3);
}

.carousel {
  scrollbar-width: none;
  &::scroll-button(*) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 77px;
    border-radius: 10px;
    border: 1px solid #efefef;
    cursor: pointer;
  }

  &::scroll-button(left) {
    content: "⬅" / "Scroll Left";
    left: 6px;
  }

  &::scroll-button(right) {
    content: "⮕" / "Scroll Right";
    right: 6px;
  }
}

.calendar-carousel {
  scrollbar-width: none;
  &::scroll-button(*) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
  }

  &::scroll-button(left) {
    content: "<" / "Scroll Left";
    left: 6px;
  }

  &::scroll-button(right) {
    content: ">" / "Scroll Right";
    right: 6px;
  }
}

.react-calendar {
  @apply w-full;
}

.react-calendar__month-view__days__day {
  @apply border-b border-r border-gray600;
}

.react-calendar__month-view__days > :nth-last-child(-n + 7) {
  border-bottom: 0;
}

.react-calendar__month-view__days > *:nth-child(7n) {
  border-right: 0;
}

.react-calendar__month-view__weekdays {
  @apply h-8;
}

.react-calendar__month-view__weekdays__weekday {
  @apply border-b border-gray600 text-center font-medium;
}

.react-calendar__month-view__weekdays__weekday:nth-child(1),
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  color: #5088ff;
}

.react-calendar__navigation {
  @apply mb-4 flex gap-8 text-center text-xl font-medium;
}

abbr {
  @apply no-underline;
}

.react-calendar__month-view__days__day abbr {
  @apply relative top-1;
}

.react-calendar__tile--now.react-calendar__month-view__days__day abbr {
  @apply inline-block flex h-7 w-7 items-center justify-center rounded-full bg-blue p-1 text-white;
}

.react-calendar__tile--now.react-calendar__month-view__days__day {
  @apply flex flex-col items-center;
}

.react-calendar__navigation__arrow {
  @apply text-blue;
}

@layer components {
  .skeleton {
    @apply relative overflow-hidden rounded bg-gray300 dark:bg-gray700;
  }
}

.skeleton::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  @apply animate-shimmer;
}
